<h1>Roller</h1>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="4">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d4 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d4">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="6">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d6 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d6">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="8">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d8 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d8">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="10">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d10 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d10">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="12">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d12 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d12">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>

<div class="row">
  <form action="/roll" method="GET" class="die-form">
    <input type="hidden" name="min" value="1">
    <input type="hidden" name="max" value="20">
    <input type="number" name="num_dice" class="input-field num-dice-field"> d20 +/-
    <input type="number" name="mod_indiv" class="input-field mod-indiv-field">
    <select name="cull_type" class="input-field cull-type-field">
      <option value="none">No Cull</option>
      <option value="highest">Highest</option>
      <option value="lowest">Lowest</option>
    </select>
    <input type="number" name="cull_num" class="input-field num-culled-field">
    <input type="Submit" class="button round tiny" value="Roll d20">
    <br>
    Total + <input type="number" name="mod-total" class="input-field mod-total-field">
    = <input type="number" class="output-field total-output">,
    Rolls = <input type="text" class="output-field rolls-output">
  </form>
</div>
