<h1>Roller</h1>

<input type="number" id="d4-num-dice"> d4 +/-
<input type="number" id="d4-mod-indiv">
<input type="Submit" value="Roll d4" id="d4-roll">
<br>
Total = <input type="number" id="d4-total">, Rolls = <input type="text" id="d4-rolls">
